/* .logo{
    color: aliceblue;
    font-weight: 900;
    padding-left:10px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    justify-content: center;
  }
  span{
   
    background: -webkit-radial-gradient(rgb(79, 28, 92), rgb(245, 243, 247), rgb(111, 53, 122));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */