body{
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/071/032/non_2x/abstract-pink-purple-blue-geometric-triangles-shape-mosaic-pattern-on-white-background-vector.jpg');
  /* background-size: 100%; */
  background-repeat: no-repeat;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MuiFormHelperText-root {
  color : red !important
}
#toast-container{
  /* position: relative; */
  top:10% !important ;
  right:auto !important ;
  left: 7% ;
  bottom: 10%;
  /* margin-top: 10px ; */
  /* margin-left: auto; */
  color: blue;
  /* width: 100px; */
  /* height: 10px; */
  background-color: brown;
}
.errorshow{
  
}